@import "reset.css";
@import "components/status-bar.css";
@import "friend.css";
@import "chat.css";

.Welcome-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.Welcome-header__title {
  font-size: 25px;
  margin-bottom: 25px;
}

.Welcome-header__text {
  color: gray;
  width: 50%;
  text-align: center;
}

.Login_form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.Login_form__email {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}
.Login_form__password {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}

.Login_form input {
  margin: 10px 5px;
}
.Login_form button {
  height: 50px;
}

.Login_btn {
  margin: 10px;
  background-color: yellow;
  border: none;
}
.Signup_btn {
  margin: 10px;
  border: none;
}
.Find_account {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
